// Colors
$colors: (	
	"dark-blue": #22577A,
	"teal-blue": #38A3A5,
	"green": #57CC99,
	"light-green": #C7F9CC,
	"black": #171717,
	"white": white,
	"grey": #E2E2E2,

	"error": #BD4723,
);

$shades: (
	950: 8%,
	900: 16%,
	800: 24%,
	700: 32%,
	600: 40%,
	500: 48%,
	400: 56%,
	300: 64%,
	200: 73%,
	100: 82%,
	50: 92%,
);

// Breakpoints
$breakpoints: (
	"sm": 576px,
	"md": 768px,
	"lg": 992px,
	"xl": 1200px,
	"xxl": 1400px,
);

$themes: ();
