@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer components {
  .back {
    @include m.resetA;
    display: block;
    text-align: center;
    text-decoration: underline;
    color: var(--white);
    @media (width >= f.screen(md)) {
      text-align: left;
    }
  }
}
