@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer components {
  .button {
    @include m.resetA;
    @include m.resetButton;
    display: block;
    border-radius: f.rem(8);
    color: var(--white);
    font-size: f.rem(14);
    transition: background-color 0.3s;
    min-width: f.rem(150);
    max-width: f.rem(220);
    text-align: center;
    margin: 0 auto;
    @media (width >= f.screen(md)) {
      display: inline-block;
    }
    &--primary {
      padding: f.rem(12) f.rem(50);
      background-color: var(--green-400);
      &:hover {
        background-color: var(--green-500);
      }
    }
    &--secondary {
      background-color: var(--teal-blue-500);
      padding: f.rem(12) f.rem(50);
      &:hover {
        background-color: var(--teal-blue-600);
      }
    }
    &span {
      margin: auto;
      vertical-align: middle;
    }
    &--sm {
      margin: 0;
      padding: f.rem(8) f.rem(24);
      &-teal {
        background-color: var(--teal-blue-500);
        &:hover {
          background-color: var(--teal-blue-600);
        }
      }
      &-dark-blue {
        background-color: var(--dark-blue-800);
        &:hover {
          background-color: var(--dark-blue-900);
        }
      }
    }
    &--icon {
      padding: f.rem(16) f.rem(28) f.rem(16) f.rem(12);
      &-image {
        vertical-align: middle;
        width: f.rem(18);
        margin-right: f.rem(6);
      }
      &-green {
        background-color: var(--green-400);
        &:hover {
          background-color: var(--green-500);
        }
      }
      &-dark-blue {
        background-color: var(--dark-blue-800);
        &:hover {
          background-color: var(--dark-blue-900);
        }
      }
      &-teal {
        background-color: var(--teal-blue-500);
        &:hover {
          background-color: var(--teal-blue-600);
        }
      }
      &-red {
        background-color: var(--error-600);
        &:hover {
          background-color: var(--error-700);
        }
      }
      @media (width >= f.screen(md)) {
        padding: f.rem(18) f.rem(32) f.rem(18) f.rem(14);
      }
    }
    &--delete {
      height: f.rem(28);
      width: f.rem(28);
      min-width: 0;
    }
    &--like {
      height: f.rem(24);
      width: f.rem(24);
      min-width: 0;
      margin: 0;
    }
    &-left {
      margin: 0;
    }
  }
}
