@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer components {
  .label {
    font-size: f.rem(12);
    &--input-error {
      color: var(--error-600);
      margin: f.rem(4) 0 f.rem(8) 0;
    }
    &--input-desc {
      display: inline-block;
      line-height: f.rem(16);
    }
    @media (width >= f.screen(md)) {
      font-size: f.rem(14);
    }
  }
}
