@use "../partials/functions" as f;
@use "../partials/mixins" as m;
@use "../partials/fonts" as fonts;

@layer components {
  .subheadline {
    font-weight: 300;
    font-size: f.rem(14);
    @media (width >= f.screen(md)) {
      font-size: f.rem(16);
    }
  }
}
